<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>添加会员</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__SYSTEM__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__SYSTEM__/layui/css/admin.css" media="all">
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">添加会员</div>
                    <div class="layui-card-body">
                        <form class="layui-form vae-content" id="editForm">
                            <div class="layui-form-item">
                                <label class="layui-form-label">推荐者ID：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="top_userid" placeholder="请输入推荐者ID" autocomplete="off"
                                        class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">钱包标识：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="waddress" lay-verify="required" autocomplete="off" placeholder="请输入钱包唯一标识"
                                        class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">会员等级：</label>
                                <div class="layui-input-block">
                                    <select name="level" class="layui-input">
                                        <option value="0">VIP0</option>
                                        <option value="1">VIP1</option>
                                        <option value="2">VIP2</option>
                                        <option value="3">VIP3</option>
                                        <option value="4">VIP4</option>
                                        <option value="5">VIP5</option>
                                        <option value="6">VIP6</option>
                                        <option value="7">VIP7</option>
                                        <option value="8">VIP8</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">公排等级：</label>
                                <div class="layui-input-block">
                                    <select name="platoon_level" class="layui-input">
                                        <option value="0">普通会员</option>
                                        <option value="1">天使会员</option>
                                        <option value="2">云创会员</option>
                                        <option value="3">联创会员</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">类型：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="type" value="1" title="普通账号" checked>
                                    <input type="radio" name="type" value="2" title="护盘账号">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">状态：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="enabled" value="1" title="启用" checked>
                                    <input type="radio" name="enabled" value="0" title="禁用">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">操作密码：</label>
                                <div class="layui-input-block">
                                    <input type="password" name="operation_password" lay-verify="required" autocomplete="off" placeholder="请输入操作密码"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    {:myshopToken('add_users')}
                                    <button class="layui-btn" type="button" lay-submit lay-filter="vaeyo-submit" vaeyo-submit>立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__SYSTEM__/jqarticle/jquery.min.js"></script>
    <script type="text/javascript" src="__SYSTEM__/layui/layui.js"></script>
    <script type="text/javascript" src="__SYSTEM__/layui/block.js"></script>
    <script>
        layui.config({
            base: '/static/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function () {
            var $ = layui.$
                , form = layui.form;

            form.on('submit(vaeyo-submit)', function (data) {
                var data = {
                    top_userid: data.field.top_userid,
                    waddress: data.field.waddress,
                    type: data.field.type,
                    level:  data.field.level,
                    platoon_level:  data.field.platoon_level,
                    enabled: data.field.enabled,
                    operation_password: data.field.operation_password,
                    validate_form: data.field.validate_form,
                    Myshop_Token: data.field.Myshop_Token
                }
                JsPost("{:url('users/add')}", data);
                return false;
            })
        });
    </script>
</body>

</html>