<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>会员管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__SYSTEM__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__SYSTEM__/layui/css/admin.css" media="all">
    <link rel="stylesheet" href="__SYSTEM__/layui/css/style.css" media="all">
</head>

<body>
    <script type="text/html" id="switchTpl">
        <input type="checkbox" name="status" value="{{d.userid}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="statusDemo" {{ d.enabled == 1 ? 'checked' : '' }} >
    </script>
    <script type="text/html" id="operate">
        {if condition="$uid eq 1"}
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
        {/if}
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="more">更多</a>
    </script>
    <div class="layui-fluid">
        <form class="layui-form seller-form" action="">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md2 layui-col-sm4 hidden">
                    <label class="layui-form-label">会员ID：</label>
                    <div class="layui-input-block">
                        <input type="text" name="userid" placeholder="请输入会员ID" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm4 hidden">
                    <label class="layui-form-label">钱包标识：</label>
                    <div class="layui-input-block">
                        <input type="text" name="waddress" placeholder="请输入钱包标识" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm4 hidden">
                    <label class="layui-form-label">账号类型：</label>
                    <div class="layui-input-block">
                        <select name="type" class="layui-input">
                            <option value="">请选择</option>
                            <option value="1">普通账号</option>
                            <option value="2">护盘账号</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm4 hidden">
                    <label class="layui-form-label">会员状态：</label>
                    <div class="layui-input-block">
                        <select name="enabled" class="layui-input">
                            <option value="">请选择</option>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm4 hidden">
                    <label class="layui-form-label">会员等级：</label>
                    <div class="layui-input-block">
                        <select name="level" class="layui-input">
                            <option value="">请选择</option>
                            <option value="0">VIP0</option>
                            <option value="1">VIP1</option>
                            <option value="2">VIP2</option>
                            <option value="3">VIP3</option>
                            <option value="4">VIP4</option>
                            <option value="5">VIP5</option>
                            <option value="6">VIP6</option>
                            <option value="7">VIP7</option>
                            <option value="8">VIP8</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm4 hidden">
                    <label class="layui-form-label">公排等级：</label>
                    <div class="layui-input-block">
                        <select name="platoon_level" class="layui-input">
                            <option value="">请选择</option>
                            <option value="0">普通会员</option>
                            <option value="1">天使会员</option>
                            <option value="2">云创会员</option>
                            <option value="3">联创会员</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm4 hidden">
                    <label class="layui-form-label">是否参与：</label>
                    <div class="layui-input-block">
                        <select name="is_pitch" class="layui-input">
                            <option value="">请选择</option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm4 hidden">
                    <label class="layui-form-label">节点买入：</label>
                    <div class="layui-input-block">
                        <select name="is_node" class="layui-input">
                            <option value="">请选择</option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm4 hidden">
                    <label class="layui-form-label">是否出局：</label>
                    <div class="layui-input-block">
                        <select name="is_out" class="layui-input">
                            <option value="">请选择</option>
                            <option value="1">否</option>
                            <option value="0">是</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm4 hidden">
                    <button class="layui-btn" lay-submit="" lay-filter="vaeform"><i class="layui-icon layui-icon-search"></i></button>
                </div>
            </div>
        </form>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        {if condition="$uid eq 1"}
                        <div style="padding-bottom: 10px;">
                            <a class="layui-btn" href="javascript:;" vaeyo-add>添加</a>
                        </div>
                        {/if}
                       
                        <div style="height: calc(100% - 30px)">
                            <table class="layui-hide" id="test" lay-filter="test"></table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__SYSTEM__/layui/layui.js"></script>
    <script type="text/javascript" src="__SYSTEM__/layui/block.js"></script>
    <script type="text/javascript" src="__SYSTEM__/jqarticle/jquery.min.js"></script>
    <script>
        layui.config({
            base: '/static/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'form', 'dropdown'], function () {
            var table = layui.table
                , $ = layui.$
                , form = layui.form
                , dropdown = layui.dropdown;

            var tableIns = table.render({
                elem: '#test'
                , toolbar: false
                , url: "{:url('users/getUsersList')}"
                , cols: [[
                    { field: 'userid', width: 100, title: '会员ID', align: 'center', fixed: 'left'}
                    , { field: 'top_userid', width: 100, title: '推荐者ID', align: 'center' }
                    , { field: 'waddress', width: 370, title: '钱包标识', align: 'left' }
                    , { field: 'level_name', width: 90, title: '会员等级', align: 'center' }
                    , { field: 'platoon_level_name', width: 120, title: '公排等级', align: 'center' }
                    , { field: 'total_income', width: 120, title: '总收益', align: 'center' }
                    , { field: 'income', width: 200, title: '可提现收益', align: 'center' }
                    , { field: 'project_income', width: 120, title: '已提现收益', align: 'center' }
                    , { field: 'integral', width: 180, title: '积分', align: 'center' }
                    , { field: 'total_num', width: 120, title: '总次数', align: 'center' }
                    , { field: 'out_num', width: 120, title: '出局次数', align: 'center' }
                    , { field: 'pitch_num', width: 120, title: '参与次数', align: 'center' }
                    , { field: 'line_num', width: 120, title: '排票次数', align: 'center' }
                    , { field: 'push_count', width: 120, title: '直推人数', align: 'center' }
                    , { field: 'team_count', width: 120, title: '团队人数', align: 'center' }
                    , { field: 'planet_line_income', width: 120, title: '星球排票', align: 'center' }
                    , { field: 'planet_line_num', width: 120, title: '星球排票数量', align: 'center' }
                    , { field: 'planet_pitch_num', width: 120, title: '星球参与次数', align: 'center' }
                    , { field: 'planet_out_num', width: 120, title: '星球出局次数', align: 'center' }
                    , { field: 'bonus_total', width: 150, title: '星球fu总收益', align: 'center' }
                    , { field: 'bonus', width: 150, title: '星球fu可提现收益', align: 'center' }
                    , { field: 'freeze_bonus', width: 150, title: '星球fu冻结额度', align: 'center' }
                    , { field: 'bonus_project_income', width: 150, title: '星球已提现收益', align: 'center' }
                    , { field: 'enabled', title: '状态', width: 100, templet: '#switchTpl', unresize: true }
                    , { field: 'right', width: 150, title: '操作', align: 'center', templet: "#operate", fixed: 'right' }
                ]],
                page: {
                    layout: ['prev', 'page', 'next', 'skip', 'count', 'limit'] //自定义分页布局
                    , curr: 1 //设定初始在第 5 页
                    , groups: 5 //只显示 1 个连续页码
                    , first: false //不显示首页
                    , last: false //不显示尾页
                },
                response: {
                    statusCode: 200
                },
                parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    let data = res.data;
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": data.total, //解析数据长度
                        "data": data.data //解析数据列表
                    };
                },
                limit: 15,
                limits: [15, 30, 45, 60, 75, 90],
                text: "对不起，加载出现异常！"
            });



            //修改状态
            form.on('switch(statusDemo)', function (obj) {
                var data = { "userid": this.value, "checked": obj.elem.checked };
                JsGet("{:url('users/AjaxUserstatus')}", data, function (res) {
                    layer.msg(res.msg)
                });
                return false;
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                if (obj.event === 'more') {
                    dropdown.render({
                        elem: this, //触发事件的 DOM 对象
                        show: true, //外部事件触发即显示
                        {if condition="$uid eq 1"}
                        data: [{
                                title: '资产变动',
                                id: 'recharge'
                            }, {
                                title: '流水记录',
                                id: 'finance'
                            }, {
                                title: '查看下级',
                                id: 'lower'
                            }, {
                                title: '查看上级',
                                id: 'superior'
                            }
                        ],
                        {else/}
                        data: [{
                                title: '流水记录',
                                id: 'finance'
                            }, {
                                title: '查看下级',
                                id: 'lower'
                            }, {
                                title: '查看上级',
                                id: 'superior'
                            }
                        ],
                        {/if}
                        click: function (menudata) {
                            if (menudata.id === 'recharge') {
                                open("{:url('users/recharge')}?userid=" + data.userid, '会员资金变动', '650px', '470px');
                            } else if (menudata.id === 'lower') {
                                location.href = "{:url('users/lower')}?userid=" + data.userid;
                            } else if (menudata.id === 'superior') {
                                location.href = "{:url('users/superior')}?userid=" + data.userid;
                            } else if (menudata.id === 'finance') {
                                open("{:url('users/finance')}?userid=" + data.userid, '流水记录', '80%', '700px');
                            }
                        },
                        align: 'right', //右对齐弹出
                        style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);' //设置额外样式
                    })
                } else if (obj.event === 'edit') {
                    open("{:url('users/edit')}?userid=" + obj.data.userid, '编辑会员', '650px', '570px');
                }
            });

            // 添加节点弹窗
            $("[vaeyo-add]").on("click", function () {
                open("{:url('users/add')}", '添加会员', '650px', '570px');
            })

            //监听搜索提交
            form.on('submit(vaeform)', function (data) {
                tableIns.reload({
                    where: {level: data.field.level,platoon_level: data.field.platoon_level,is_pitch: data.field.is_pitch,is_node: data.field.is_node,type: data.field.type, enabled: data.field.enabled, userid: data.field.userid, waddress: data.field.waddress, is_out: data.field.is_out }
                });
                return false;
            });
        });

    </script>
</body>

</html>