<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>会员资金变动</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__SYSTEM__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__SYSTEM__/layui/css/admin.css" media="all">
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">会员资金变动</div>
                    <div class="layui-card-body">
                        <form class="layui-form vae-content" id="editForm">
                            <div class="layui-form-item">
                                <label class="layui-form-label">变动类型：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="type" value="1" title="可提收益" checked>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">类型：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="changetype" value="1" title="充值" checked>
                                    <input type="radio" name="changetype" value="2" title="扣除">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">额度：</label>
                                <div class="layui-input-block">
                                    <input type="number" name="num" lay-verify="required" autocomplete="off" placeholder="请输入变动额度"
                                        class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">备注说明：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="info" lay-verify="required" autocomplete="off" placeholder="请输入备注说明"
                                        class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">操作密码：</label>
                                <div class="layui-input-block">
                                    <input type="password" name="operation_password" lay-verify="required" autocomplete="off" placeholder="请输入操作密码"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    {:myshopToken('add_recharge')}
                                    <input type="hidden" name="userid" value="{$userid}">
                                    <button class="layui-btn" type="button" lay-submit lay-filter="vaeyo-submit" vaeyo-submit>立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__SYSTEM__/jqarticle/jquery.min.js"></script>
    <script type="text/javascript" src="__SYSTEM__/layui/layui.js"></script>
    <script type="text/javascript" src="__SYSTEM__/layui/block.js"></script>
    <script>
        layui.config({
            base: '/static/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function () {
            var $ = layui.$
                , form = layui.form;

            form.on('submit(vaeyo-submit)', function (data) {
                var data = {
                    userid: data.field.userid,
                    type: data.field.type,
                    num: data.field.num,
                    changetype: data.field.changetype,
                    info: data.field.info,
                    operation_password: data.field.operation_password,
                    validate_form: data.field.validate_form,
                    Myshop_Token: data.field.Myshop_Token
                }
                JsPost("{:url('users/recharge')}", data);
                return false;
            })
        });
    </script>
</body>

</html>