<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>添加会员</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__SYSTEM__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__SYSTEM__/layui/css/admin.css" media="all">
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">最近七日充值统计图</div>
                    <div class="layui-card-body">
                        <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                            lay-filter="LAY-index-pagetwo">
                            <div carousel-item id="LAY-index-pagetwo">
                                <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__SYSTEM__/jqarticle/jquery.min.js"></script>
    <script type="text/javascript" src="__SYSTEM__/layui/layui.js"></script>
    <script type="text/javascript" src="__SYSTEM__/layui/block.js"></script>
    <script>
        layui.config({
            base: '/static/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', "carousel", "echarts", 'form'], function () {
            var $ = layui.$
                , carousel = layui.carousel
                , form = layui.form;
            var router = layui.router();
            var data = {};
            var chart = function () {
                JsGet("{:url('statistics/getWitChartInfo',['userid' => $userid,'waddress' => $waddress,'type' => $type])}", {}, function (res) {
                    let data = res.data;
                    getchart(data);
                });
            }

            var getchart = function (data) {
                var e = layui.$,
                    a = (layui.carousel, layui.echarts),
                    l = [],
                    t = [{
                        tooltip: {
                            trigger: "axis"
                        },
                        grid: {
                            x: 40,
                            x2: 15,
                            y2: 24
                        },
                        calculable: true,
                        legend: {
                            data: ["提现总量", "实际到账", "手续费"]
                        },
                        xAxis: [{
                            type: "category",
                            boundaryGap: false,
                            data: data.day
                        }],
                        yAxis: [{
                            type: "value",
                            splitLine: { show: false }
                        }],
                        series: [{
                            name: "提现总量",
                            type: "line",
                            smooth: true,
                            itemStyle: { normal: { color: '#009688' } },
                            lineStyle: { normal: { color: '#009688', width: 1 } },
                            areaStyle: { normal: { color: '#009688' } },
                            data: data.usdt
                        }, {
                            name: "实际到账",
                            type: "line",
                            smooth: true,
                            itemStyle: { normal: { color: '#01AAED' } },
                            lineStyle: { normal: { color: '#01AAED', width: 1 } },
                            areaStyle: { normal: { color: '#01AAED' } },
                            data: data.real_usdt
                        }, {
                            name: "手续费",
                            type: "line",
                            smooth: true,
                            itemStyle: { normal: { color: '#FF5722' } },
                            lineStyle: { normal: { color: '#FF5722', width: 1 } },
                            areaStyle: { normal: { color: '#FF5722' } },
                            data: data.cost_usdt
                        }]
                    }],
                    i = e("#LAY-index-pagetwo").children("div").show(),
                    n = function (e) {
                        l[e] = a.init(i[e], layui.echartsTheme),
                            l[e].setOption(t[e]),
                            window.onresize = l[e].resize
                    };
                i[0] && n(0)
            }
            chart();
        });
    </script>
</body>

</html>